.new-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    label {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        width: 100%;
    }

    input {
        height: 25px;
        padding: .5rem 0 .5rem .5rem;
        border-radius: .3rem;
        border: 1px solid gray;
        font-size: 1rem;
    }
    input:focus {
        outline: none;
    }

    .btn-container {
        display: flex;
        width: 100%;
        gap: .5rem;

        button {
            padding: .4rem;
            width: 100%;
            border: 2px solid black;
            text-align: center;
            
        }
    }
}