.content {
    padding: 1rem 15rem 1rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .add-task {
        background: transparent;
        font-size: 1rem;
        padding: .5rem;
        cursor: pointer;
        font-weight: bold;
    }

    h4 {
        font-size: 2rem;
    }

    .add-task:hover {
        background: rgb(231, 223, 223);
        transition: .2s
    }

}