.content {
    padding: 1rem 20rem 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .tasks {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}